<h2><%= @play.title %></h2>
<h3><%= @play.director %></h3>
<% if @play.category %>
  <h4><%= @play.category.name %></h4>
<% end %>
<p><%= @play.description %></p>

<% if user_signed_in? && current_user.id == @play.user_id %>
  <%= link_to 'Edit', edit_play_path(@play) %>
  <%= link_to 'Destroy', play_path(@play), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
