<div class='row'>
  <div class='col-lg-6 col-md-7 text-center'>
    <% if !@play.trailer_url.blank? %>
      <iframe src="<%= @play.trailer_url %>?autoplay=false&width=480" width="480" height="270" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" frameborder="no" scrolling="no"></iframe>
    <% else %>
      <%= image_tag @play.play_img.url, class: 'img-responsive play-image' %>
    <% end %>
  </div>
  <div class='col-lg-6 col-md-5'>
    <div class='play-info'>
      <h2 class='play-title'><%= @play.title %></h2>
      <h3 class='play-director'><em>From </em><b><%= @play.director %></b></h3>
      <% if @play.category %>
        <h4 class='play-category'><%= @play.category.name %></h4>
      <% end %>
      <p class='play-description'><%= @play.description %></p>
    </div>
  </div>
</div>

<div class='reviews'>
  <h1>Reviews</h1>
  <%= render @play.reviews %>
  <%= link_to 'Add Review', new_play_review_path(@play), class: 'btn btn-default' %>
</div>


<% if user_signed_in? && current_user.id == @play.user_id %>
  <div class='links btn-group'>
    <%= link_to 'Edit', edit_play_path(@play), class: 'btn btn-link' %>
    <%= link_to 'Destroy', play_path(@play), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>
  </div>
<% end %>
